<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1015725153016-vjb0b94docgpfbokliu3scti0kri78sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015725153016-vjb0b94docgpfbokliu3scti0kri78sp</string>
	<key>API_KEY</key>
	<string>AIzaSyCFi97UzX2o9equpICkQ5mnOFyHdrSA7A0</string>
	<key>GCM_SENDER_ID</key>
	<string>1015725153016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonnovoselov.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinderfirestore-5aa6c</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderfirestore-5aa6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015725153016:ios:c9ba6c0417ea724d</string>
	<key>DATABASE_URL</key>
	<string>https://tinderfirestore-5aa6c.firebaseio.com</string>
</dict>
</plist>